body {
    font: 1em "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(245, 245, 245);
  }
  #root {
    background-color: blue;
    padding: 1em;
  }
  .game {
    display: flex;
    flex-direction: row;
    background-color: palevioletred;
    padding: .5em;
  }
  .game-info {
    margin-left: 20px;
    color: orange;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
    background-color: rebeccapurple;
    padding: .2em;
  }

  ol, ul {
    color: transparent;
    background-color: sandybrown;
    padding: .3em;
  }

  li {
    background-color: seagreen;
    padding: .5em;
  }
  
  button {
    background-color: tomato;
    padding: .2em;
  }

  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid rgb(122, 40, 189);
    float: left;
    font-size: 3em;
    font-weight: bold;
    color: rgb(33, 194, 145);
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }