body {
    display: flex;
    justify-content: center;
    font: 1em "Century Gothic", Futura, sans-serif;
    margin: 3em;
    padding-top: 1em;
    background-color: rgba(224, 66, 153, 0.048);
  }
  #root {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d2d2d2;
    padding: 1em;
  }
